div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}
.grid-item { width: 100%; }
.art-card { padding: 7.5px; }
.grid { margin-left: -7.5px; margin-right: -7.5px; }
.thumbs { position: relative;  }
.thumbs a { position: absolute; top: 0;left: 0; width: 100%; height: 100%; text-align: center; background: rgba(22,22,22,0.65); opacity: 0;     
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;} 
.thumbs:hover a { opacity: 1; }
.thumbs a span {     opacity: 0; margin-left: -48.5px;  left: 50%; background: rgba(0,0,0,0.15);     padding: 6px 14px; border: 1px rgba(0,0,0,0.5);
    font-size: 12px; color: #fff; text-transform: uppercase;
    font-weight: 600;  -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);  -ms-transform: translateY(-50%);  -o-transform: translateY(-50%);   transform: translateY(-50%); position: absolute; top: 50%;     -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;}

.thumbs a span:hover { background: rgba(0,0,0,0.5);  }
.thumbs:hover a span { opacity: 1; }
.art-card .inner { padding: 15px; background: #f3f3f3; }
.art-card .inner h2 {font-size: 16px;text-align: center;margin-bottom: 10px;}
.art-card .inner h2 a { color: #333;  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; }
.art-card .inner h2 a:hover { color: #19B8DF; }
.art-card .inner p { text-align: center; margin-bottom: 15px; }
.art-card .inner .btn-more {display: block;padding: 5px 15px;text-transform: uppercase;font-size: 12px;margin: 0 auto;color: #444;border: 2px solid #444;width: 108px;font-family: "Lato",sans-serif;font-weight: 600;text-align: center; -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;}
.art-card .inner .btn-more:hover { color: #fff; background: #19B8DF; border-color: #19B8DF;}
.list-time { list-style: none; margin-bottom: 0; margin-top: 15px; text-align: center; }
.list-time li { display: inline-block;  font-size: 12px; color: #555; font-style: italic;}
.list-time li a { color: #555; }
.list-time li a:hover { color: #19B8DF; }

#loginModal .modal-content { border-radius: 0; }
#loginModal .modal-header { padding: 25px 25px 20px 25px; border-bottom: 0; }
#loginModal .modal-title {/* color: #333; */font-size: 22px;color: #000;}
#loginModal .modal-header .close {font-size: 30px;opacity: 0.8;margin-top: -22px;margin-right: -18px;}
#loginModal .modal-header .close:hover { color: #19B8DF; }
#loginModal .modal-body { padding: 0 0 25px 0; overflow: hidden;}
.box { width: 50%; float: left; padding-left: 25px; padding-right: 25px;}
#loginModal .modal-body .box:first-child { border-right: 1px solid #ddd; }
.btn-face { height: 40px; line-height: 40px; display: block; margin-bottom: 10px; font-size: 15px;  color: #fff; background: #3b5998; text-transform: uppercase; text-align: center;}
.btn-linkedIn { height: 40px; line-height: 40px; display: block; margin-bottom: 10px; font-size: 15px; color: #fff; background: #007bb6; text-transform: uppercase; text-align: center;}
.btn-face i, .btn-linkedIn i { margin-left: 10px; font-size: 18px; }
#loginModal .modal-body span.de {margin: 20px 0;display: block;text-align: center;color: #000;font-size: 16px;}
.txt-1 { padding-left: 10px; padding-right: 10px; height: 40px; line-height: 40px; border: 1px solid #ccc; border-radius: 0; width: 100%; margin-bottom: 20px; }
.btn-style-1 {height: 40px;line-height: 40px;display: block;margin: 0px;font-size: 15px;color: #fff;background: #000;text-transform: uppercase;text-align: center;margin-top: 20px;width: 100%;border: 0;}
.link-forgot { display: block; text-align: right; color: #007bb6; }
.btn-face:hover , .btn-linkedIn:hover, .btn-style-1:hover { opacity: 0.8; color: #fff; }
@media screen and (max-width: 1199px){
   .grid-item { width: 50%; }
}
@media screen and (max-width: 480px){
   .grid-item { width: 100%; }
   .box { width: 100%; border-right: 0;}
   #loginModal .modal-body .box:first-child { padding-bottom: 20px; }
}